<section class="portfolio-block" id="education">
  <div class="container">
    <div class="heading" *ngIf="!(showDataActiveUMI || showDataActiveFHAachen)">
      <h2>Education</h2>
    </div>
    <div class="row" *ngIf="!(showDataActiveUMI || showDataActiveFHAachen)">
      <div class="col-md-6" (click)="showMore('umi')">
        <div class="card special-skill-item cancel-background card-education-box">
          <div class="card-header card-education-image-university-moulay-ismail-meknes mx-auto">
          </div>
          <div class="card-body card-education-text">
            <h3 class="card-title">University Moulay ismail Mèknes - Morocco <i class="flag flag-ma"></i></h3>

            <div class="card-text card-education-text">
              <p class="text-color">2019 - 2022</p>
              <p class="text-color"><b> Bachelor's degree</b>, Mathematics and computer science</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" (click)="showMore('fh')">
        <div class="card special-skill-item cancel-background card-education-box">
          <div class="card-header card-education-image-fh-aachen mx-auto">
          </div>
          <div class="card-body card-education-text">
            <h3 class="card-title">FH Aachen - Germany</h3>
            <p class="card-text text-color">2022 - 2024</p>
            <p class="text-color"><b> Bachelor's degree</b>, Computer software engineering</p>
          </div>
        </div>
      </div>
    </div>

    <app-fhaacheninformations *ngIf="showDataActiveFHAachen" (closeAction)="onChildCloseChanged('fh',$event)"></app-fhaacheninformations>
    <app-umiinformations *ngIf="showDataActiveUMI" (closeAction)="onChildCloseChanged('umi',$event)"></app-umiinformations>

  </div>
</section>
