<section id="projects" class="portfolio-block website">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="heading">
          <h2 class="abstract-title">Abstract</h2>
        </div>
        <p><span class="abstract-text">With over four years of enriching experiences as a student and a dedicated Fullstack developer during a four-month stint, I have honed my skills in software analysis, design, development, implementation, and testing. My proficiency extends to crafting object-oriented and web-based enterprise applications, and I possess a keen understanding of Machine Learning, Deep Learning, and Data Science. Engaging in various projects involving computer vision and AI studies, I've demonstrated my versatility.
        <br>
        <b>My technical toolkit includes</b> Java SE/Java EE, Spring Framework, Angular, TypeScript, Python, and strong knowledge in cyber security, with a steadfast commitment to delivering high-quality solutions.</span>
        </p>
      </div>
      <div class="col-md-6 col-sm-12 black-background">
      </div>
    </div>
    <div class="row">
      <div clas="col-6">
        <div (click)="downloadFile(1)" class="btn btn-download-black">Download CV English</div>
      </div>
      <div clas="col-6">
        <div (click)="downloadFile(2)" class="btn btn-download-black">Download CV German</div>
      </div>
    </div>
  </div>
</section>
