<section id="projects" class="portfolio-block website">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="heading">
          <h2 class="abstract-title">Abstract</h2>
        </div>
        <p><span class="abstract-text">Having accured over four years of experience as a student and by developing personal projects,
          including a four-month stint as an Fullstack developer, I possess extensive expertise in software
          analysis, design, development, implementation, and testing of object-oriented and web-based enterprise
          applications. Also with a knowledge of Machine Learning, Deep Learning and Datascience, i have done
          some projects of computer vision and AI Studies and analysis. My skill set encompasses Java SE/Java
          EE, Spring Boot, Angular, and Python, Tensorflow, sklearn with a particular focus on delivering
          high-quality solutions. I am currently searching an Intership to complete my bachelor's thesis, in
          Machine Learning or Webdevelopment, i don't have problem, i like both domains.</span></p>
      </div>
      <div class="col-md-6 col-sm-12 black-background">
      </div>
    </div>
  </div>
</section>
