.avatar-me {
  height: 180px;
  width: 180px;
  background:linear-gradient(to right,rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('/assets/img/avatars/avatar.png');
  background-size: cover;
  border: 1px solid black;
  border-radius: 50%;
  animation: fadeInLeftToRight 1s linear forwards;
}

@keyframes fadeInLeftToRight {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}


/*
*        Website Introduction
*/



.personal-data-block-with-picture{
  padding:30px;
}

.personal-data-block-title{
  font-size: 23px;
}

.personal-data-block{
  text-align: left;
}

.personal-data-information{
  color: black;
  font-size: 18px;
  margin-left: 25px;
}

.personal-data-medium-text{
  font-size: 70px;
  font-family: Calibri;
  font-weight: bold;
}

.personal-data-big-text{
  font-size: 100px;
  font-family: Calibri;
  font-weight: bold;
}

.personal-data-normal-text{
  font-size: 40px;
  font-family: Calibri;
  font-weight: bold;
}

.portfolio-image{
  background-image:url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
}

.slide-right {
  position: relative;
  animation: slideRight 1s ease-in-out;
}

@keyframes slideRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.slide-down {
  position: relative;
  animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
.slide-left {
  position: relative;
  animation: slideLeft 1s ease-in-out;
}

@keyframes slideLeft {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}


.fade-out {
  opacity: 1;
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out-in {
  opacity: 1;
  animation: fadeOut 1s ease-in;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hacker-color{
  color: #29b81f;
}
