
<section id="home" class="portfolio-block block-intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-5" style="text-align: left">
        <p><span class="personal-data-medium-text slide-left">Hello</span></p>
        <p><span class="personal-data-big-text slide-right">It's Ziad Bougrine</span></p>
        <p><span class="personal-data-normal-text fade-out">I'm a <span class="hacker-color">{{console_animation}}</span><span>{{console}}</span></span></p>
      </div>
      <div class="portfolio-image col-md-5 slide-down"></div>
    </div>
  </div>
  <!--<div class="container info-stelle">
    <div class="card-body">
      <div class="row personal-data-block-with-picture">
        <div class="col-md-2">
          <div class="avatar-me"></div>
          <div class="row">
            <div class="col-md-12">
              <a class="icona slide-down" href="https://web.facebook.com/ziad.bougrine.5"><i
                class="ion-social-facebook icona slide-down"></i></a>
              <a href="https://www.instagram.com/ziadbougrine.jar/"><i
                class=" ion-social-instagram-outline icona slide-down"></i></a>
              <a href="#"><i class=" ion-social-twitter icona slide-down"></i></a>
              <a href="https://github.com/DerZiad"><i class="icon ion-social-github icona slide-down"></i></a>
              <a href="https://www.linkedin.com/in/ziad-bougrine-9b94171a5/"><i
                class="icona ion-social-linkedin slide-down"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 personal-data-block">
          <h3 class="personal-data-block-title">Personal Data</h3>
          <p><span class="personal-data-information"><b>Full Name : </b>Ziad Bougrine</span></p>
          <p><span class="personal-data-information"><b>Current Position : </b>Software Developer</span></p>
          <p><span class="personal-data-information"><b>Email : </b><a class="personals-data-informations"
                                                                       href="mailto:ziadbougrine@gmail.com"
                                                                       style="color: white">ziadbougrine@gmail.com</a></span>
          </p>
          <p><span class="personal-data-information"><b>Phone Number : </b>+49 15209512199</span></p>
        </div>

        <div class="col-md-4 personal-data-block">
          <h3 class="personal-data-block-title">Languages</h3>
          <p><span class="personal-data-information"><b>English : </b>Fluent</span></p>
          <p><span class="personal-data-information"><b>German : </b>Fluent</span></p>
          <p><span class="personal-data-information"><b>French : </b>Native</span>
          </p>
          <p><span class="personal-data-information"><b>Arabic : </b>Native</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-danger" (click)="downloadFile(1)">Download CV English</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-danger" (click)="downloadFile(2)">Download CV German</button>
        </div>
      </div>
    </div>
  </div>-->
</section>
