<div id="close" class="transition-class mac-navigator-tab">
  <div class="tab-header">
    <div class="red-dot" (click)="closeElement()"></div>
    <div class="yellow-dot" (click)="extendTab()"></div>
  </div>
  <div class="tab-content">
    <ul class="tab-links">
      <li class="active tab-design">Career</li>
    </ul>
    <div class="tab-panels">
      <div class="tab-panel active">
        <div class="container-fluid mt-5">
          <div class="card special-skill-item cancel-background card-education-box">
            <div class="card-header card-education-image-mgm mx-auto">
            </div>
            <div class="card-body card-education-text">
              <h3 class="card-title">mgm technology partners - Germany</h3>
              <p class="card-text text-color-gray">Oct, 2023 - Feb, 2024</p>
              <p class="text-color-black text-left"><b> Intern and working student for Bachelor's degree thesis</b></p>
              <p class="text-color-black text-left">
                Beginning my role as a <b>working student at MGM in October</b>, I committed myself to grasping the intricacies
                of MGM's tools, technologies, and frameworks. Initially, I immersed myself in learning <b>Kotlin</b>, the
                primary language employed by the workflow team. This foundational knowledge paved the way for me to
                utilize <b>Spring Boot with Kotlin</b> seamlessly.
              </p>
              <p class="text-color-black text-left">
                As my journey unfolded, I ventured into <b>A12 Modelisation</b>, delving into the nuances of model
                construction. This phase of my learning journey expanded my proficiency, allowing me to effectively
                grasp the orchestration of processes using <b>Camunda</b>.
                Bringing it all together, I culminated my experiences by undertaking a comprehensive project. This
                endeavor involved integrating all the acquired knowledge into creating a full-stack demo project.
                Through this hands-on application, I showcased my ability in modelization, process orchestration, and
                utilizing various technologies gleaned from my time at MGM.

              </p>
              <p class="text-color-black text-left">
                In December, I transitioned into a pivotal phase of my academic journey by initiating my bachelor's
                thesis in collaboration with MGM. The focus of my thesis was the integration of a payment system into a
                model-based low-code platform. This project aimed to streamline and enhance the platform's
                functionalities. In other words, every A12 modeler can integrate a payment checkout form using only the
                built payment sub-process. I strategically employed PayPal and Stripe as the designated payment
                providers to achieve this objective. These industry-leading platforms were chosen for their reliability
                and efficiency in handling online transactions.

              </p>
              <p class="text-color-black text-left">
                Throughout the process, I've got help from mgm team to navigate the intricacies of the low-code platform
                and ensure seamless integration. The project allowed me to apply theoretical knowledge gained during my
                academic journey and provided an opportunity to contribute practically to a real-world,
                industry-specific challenge.
              </p>
              <p class="text-color-black text-left">
                In conclusion, my journey at MGM as a working student has been marked by continuous learning and
                practical application, culminating in a significant contribution to my bachelor's thesis. Integrating a
                payment system into a model-based low-code platform showcases my technical skills and reflects my
                commitment to delivering impactful solutions in a professional field.
              </p>
              <h3 class="text-color-black text-left">Content</h3>
              <ol class="text-color-black text-left">
                <li class="links"><a class="links" href="#appliedconcept">Applied Concept</a></li>
                <li class="links"><a class="links" href="#appliedtechnologies">Applied technologies</a></li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="heading">
                <h1 id="appliedconcept" class="card-education-concept-title text-left">Applied Concepts</h1>
              </div>
              <table class="table">
                <thead class="thead-light">
                <tr>
                  <th class="text-left" scope="col">Applied Concepts</th>
                  <th class="text-left" scope="col">Scale ( {{star(5)}} )</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let concept of concepts">
                  <td class="text-left">{{concept[0]}}</td>
                  <td class="text-left">{{star(concept[1])}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="heading">
                <h1 id="appliedtechnologies" class="card-education-concept-title text-left">Applied Technologies</h1>
              </div>
              <table class="table">
                <thead class="thead-light">
                <tr>
                  <th class="text-left" scope="col">Applied Technologies</th>
                  <th class="text-left" scope="col">Scale ( {{star(5)}} )</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let technology of technologies">
                  <td class="text-left">{{technology[0]}}</td>
                  <td class="text-left">{{star(technology[1])}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
