<div id="close" class="transition-class mac-navigator-tab">
  <div class="tab-header">
    <div class="red-dot" (click)="closeElement()"></div>
    <div class="yellow-dot" (click)="extendTab()"></div>
  </div>
  <div class="tab-content">
    <ul class="tab-links">
      <li class="active tab-design">Career</li>
    </ul>
    <div class="tab-panels">
      <div class="tab-panel active">
        <div class="container mt-5">
          <div class="card special-skill-item cancel-background card-education-box">
            <div class="card-header card-education-image-fh-aachen mx-auto">
            </div>
            <div class="card-body card-education-text">
              <h3 class="card-title">FH Aachen - Germany</h3>
              <p class="card-text text-color-gray">2022 - 2024</p>
              <p class="text-color-black text-left"><b> Bachelor's degree</b>, Computer software engineering</p>
              <p class="text-color-black text-left">During my final year at <b>FH Aachen</b>, I successfully acquired knowledge in various technologies and concepts. The following tables provide an overview of the technologies and concepts I learned during my studies:</p>
              <h3 class="text-color-black text-left">Content</h3>
              <ol class="text-color-black text-left">
                <li class="links"><a class="links" href="#learnedconcept">Learned Concept</a></li>
                <li class="links"><a class="links" href="#learnedtechnologies">Learned Skills</a></li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="heading">
                <h1 id="learnedconcept" class="card-education-concept-title text-left">Learned Concepts</h1>
              </div>
              <table class="table">
                <thead class="thead-light">
                <tr>
                  <th class="text-left" scope="col">Learned Concepts</th>
                  <th class="text-left" scope="col">Scale ( {{star(5)}} )</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let concept of concepts">
                  <td class="text-left">{{concept[0]}}</td>
                  <td class="text-left">{{star(concept[1])}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="heading">
                <h1 id="learnedtechnologies" class="card-education-concept-title text-left">Learned Technologies</h1>
              </div>
              <table class="table">
                <thead class="thead-light">
                <tr>
                  <th class="text-left" scope="col">Learned Technologies</th>
                  <th class="text-left" scope="col">Scale ( {{star(5)}} )</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let technology of technologies">
                  <td class="text-left">{{technology[0]}}</td>
                  <td class="text-left">{{star(technology[1])}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
