<nav class="navbar navbar-expand-lg fixed-top portfolio-navbar">
  <div class="container">
    <a class="navbar-brand logo" routerLink="/" routerLinkActive="active-logo" [routerLinkActiveOptions]="{ exact: true }" (click)="closeNavbar()" aria-label="Go to Home">
      DerZiad
      <span class="brand-dot" [class.home-active]="isHomeRoute()" aria-hidden="true"></span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      [attr.aria-expanded]="navbarExpanded"
      aria-controls="navbarNav"
      aria-label="Toggle navigation">
      <span class="hamburger" aria-hidden="true">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" [class.show]="navbarExpanded">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/resume" routerLinkActive="active active-header" (click)="closeNavbar()">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active active-header" (click)="closeNavbar()">Projects</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="page landing-page">
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>

<div class="page-footer">
  <div class="row">
    <div class="col-md-12">
      <a class="icon slide-down" href="https://web.facebook.com/ziad.bougrine.5"><i
          class="ion-social-facebook icon slide-left"></i></a>
      <a href="https://www.instagram.com/ziadbougrine.jar/"><i
          class=" ion-social-instagram-outline icon slide-left"></i></a>
      <a href="#"><i class=" ion-social-twitter icon slide-left"></i></a>
      <a href="https://github.com/DerZiad"><i class="icon ion-social-github icon slide-left"></i></a>
      <a href="https://www.linkedin.com/in/ziad-bougrine-9b94171a5/"><i
          class="icon ion-social-linkedin slide-left"></i></a>
      <a href="mailto:ziadbougrine@gmail.com"><i class="icon ion-email slide-left"></i></a>
    </div>
  </div>
</div>
