<section class="portfolio-block skills" id="skills">
  <div class="container">
    <div class="heading">
      <h2>Languages</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead class="thead-light">
          <tr>
            <th scope="col" class="table-major-column">Language</th>
            <th scope="col" class="table-major-column">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="table-column">French</td>
            <td class="table-column">
              Native
            </td>
          </tr>
          <tr>
            <td class="table-column">Arabic</td>
            <td class="table-column">
              Native
            </td>
          </tr>
          <tr>
            <td class="table-column">German</td>
            <td class="table-column">
              Fluent
            </td>
          </tr>
          <tr class="table-column">
            <td>English</td>
            <td class="table-column">
              Fluent
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
