.close{
  transition: all 3s ease-in-out;
}


.mac-navigator-tab {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

.tab-header {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.red-dot, .yellow-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.red-dot {
  background-color: #f75959;
}

.red-dot:hover{
  background-color: #8b0000;
}

.yellow-dot {
  background-color: #fdbc40;
}

.yellow-dot:hover{
  background-color: #e67e00;
}

.tab-content {
  padding: 10px;
}

.tab-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.tab-links li {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #e1e1e1;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.tab-links li.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  top: 1px;
}

.tab-panels {
  border: 1px solid #e1e1e1;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  background-color: white;
}

.tab-panel {
  display: none;
  color:black;
}

.tab-panel.active {
  display: block;
}


.icona{
  color:purple;
  font-size: 25px;
}

#close {
  overflow: hidden; /* Hide any content outside the container */
  width: 100%;
}

.swipe-left-class{
  animation: swipeLeftAnimation 0.3s ease-in-out;
}

.transition-class{
  transition: 0.3s ease-in-out;
}

@keyframes swipeLeftAnimation {
  0% {
    transform: translateX(0); /* Starting position (no movement) */
  }
  100% {
    transform: translateX(-100%); /* Ending position (100% left) */
  }
}

/*
  Text Placement Design
*/

.tab-design{
  color: black;
  font-weight: bold;
  font-family: Calibri,"Sans Serif Collection";
}

.tab-title{
  color: black;
  font-weight: bold;
  font-family: Calibri,"Sans Serif Collection";
}

.tab-description-element{
  color: black;
  font-weight: bold;
  font-family: Calibri,"Sans Serif Collection";
}
